<div class="row">
	<div class="span3 well">
		<%= simple_form_for([@goal, @checkpoint], :html => {:class=> 'form-horizontal'}) do |f| %>
			<div id="error_explanation">
				<% if @checkpoint.errors.any? %>
				<h3><%= pluralize(@checkpoint.errors.count, "error") %> prohibited this from saving:</h3>
					<ul>
						<%= @checkpoint.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>
					</ul>
				<% end %>
			</div>
			<%= f.text_field :title, :placeholder => "Checkpoint Title" %><br/>
			<%= f.text_area :purpose, :placeholder => "Checkpoint Purpose" %><br/>
			<%= f.label :deadline, "Deadline" %><br/>
			<%= f.date_select :deadline %><br/>
			<%= f.button :submit %>
		<% end %>
	</div>
</div>