<h3>Goal: <%= @checkpoint.goal.name %></h3>
<div id="notice"><%= notice %></div>
<p><strong>Checkpoint: <%= @checkpoint.title %></strong></p>
<p>Deadline: <%= @checkpoint.deadline.to_formatted_s(:long) %></p>
<p><%= @checkpoint.purpose %></p>

<hr/>
<% if user_signed_in? && current_user == @checkpoint.goal.user %>
<%= link_to "Add Note", new_checkpoint_note_path(@checkpoint) %> |
<%= link_to "Edit", edit_goal_checkpoint_path(@checkpoint.goal, @checkpoint) %> | 
<% end %>
<%= link_to "Back to Checkpoints", goal_path(@checkpoint.goal) %>
<br/><br/>

<% if @checkpoint.notes.any? %>
	<table class="table">
		<th>Note URL</th>
		<th>Note</th>
		<th>Manage</th>

		<% @checkpoint.notes.each do |note| %>
			<tr>
				<td><%= truncate(note.url, :length => 25) %></td>
				<td>
					<%= link_to(truncate(note.body, :length => 30, :separator => ' '), checkpoint_note_path(note.checkpoint, note)) %>
				</td>
				<td><%= link_to "Delete", checkpoint_note_path(note.checkpoint, note), method: :delete, data: { confirm: "Really delete note?" } %></td>
			</tr>
		<% end %>
	</table>
<% end %>

