<div class="well addField">
	<%= button_to("close", "#", :class=> "closeMe btn btn-danger pull-right") %>
	<%= render :partial => "form" %>
</div> <!-- end well -->

<div class="row">
	<div class="span12">
		<% @resources.each do |resource| %>
			<div class="span1"> 
				<div class="votes">
				<%#= link_to raw("<i class=\"icon-thumbs-up\">&nbsp;&nbsp;&nbsp;</i>"), resource_vote_path(resource, :up) %><%#= resource.votes %>
				<%= link_to "^", resource_vote_path(resource, :up) %>&nbsp;
				<%= resource.votes %>
				</div> 
			</div>
			<div class="span2"><%= resource.category %></div>
			<div class="span3"> <%= link_to(resource.title, resource.url, :target => "blank") %></div>
			<div class="span3"><%= truncate(resource.url, :length => 30) %></div>
			<% if user_signed_in? && current_user == resource.user %>
			<div class="span1"><%= link_to("Show", resource_path(resource)) %></div>
			<div class="span1"><%= link_to("Delete", resource, method: :delete, data: { confirm: "Really delete resource?"}) %></div>
			<% else %>
			<div class="span1"><%= link_to("Show", resource_path(resource)) %></div>
			<div class="span1"><%= link_to("Share", resource.url, :class => "share") %></div>
			<% end %>
		<% end %>
	</div>
</div>